<div class="container mt-5">
  <div class="row edit-profile-wrapper bg-white">
    <div class="col-md-3">
      <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item border-bottom-0 border-top-0">
          <%= link_to edit_user_path(current_user), class: "text-decoration-none text-dark" do %>
            <h6>Edit profile</h6>
          <% end %>
        </li>
        <li class="list-group-item border-bottom-0 border-top-0">
          <%= link_to change_password_users_path, class: "text-decoration-none text-dark" do %>
            <h6>Change your password</h6>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-9 gray-border-left pl-5">
      <%= form_for(:user, url: update_password_users_path , html: { class: "pt-5"}) do |f| %>
      <%= render "shared/alert" %>
        <div class="form-group row">
          <div class="avatar col-sm-2">
            <%= image_tag( current_user.image.present? ?  current_user.image.to_s : 'default_avatar.png' ) %>
          </div>
          <div class="col-sm-6">
            <div class="fw-600 mt-2"><%= current_user.email %></div>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :old_password, class: "col-sm-2 col-form-label" do %>
            <strong>Old password</strong>
          <% end %>
          <div class="col-sm-6">
            <%= f.text_field :old_password, type: "password", class: "form-control "%>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :old_password, class: "col-sm-2 col-form-label" do %>
            <strong>New password</strong>
          <% end %>
          <div class="col-sm-6">
            <%= f.text_field :new_password, type: "password", class: "form-control "%>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :old_password, class: "col-sm-2 col-form-label" do %>
            <strong>Confirm new password</strong>
          <% end %>
          <div class="col-sm-6">
            <%= f.text_field :new_password_confirmation, type: "password", class: "form-control "%>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 offset-sm-2">
            <%= f.submit "Submit", class: "btn btn-cyan fw-600 text-white disabled-focus"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
