<div class="container pt-2">
  <%= render partial: "shared/alert" %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <%= image_tag( @user.image.present? ?  @user.image.to_s : 'default_avatar.png', class: 'circle-image user-profile-image' ) %>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="font-weight-light"><%= @user.email %></h4>
                  <h5 class="font-weight-light"><%= @user.name %></h5>
                </div>
                <div class="col-md-4 mt-2"><%= @user.posts.count %> Posts</div>
                <div class="col-md-4 mt-2"><%= @user.posts.count %> Likes</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <h3 class="text-center font-weight-light mb-4">Posts</h3>
          <div class="row">
            <% if(@posts.length > 0) %>
              <% @posts.each do |post| %>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                  <%= link_to post_path(post) do %>
                    <div class="profile-post-thumbnail">
                      <%= image_tag( post.image.to_s ) %>
                      <div class="post-action-group d-flex justify-content-center align-items-center">
                        <div class="mr-3">
                          <i class="fa fa-heart-o fa-md text-white"></i>
                          <span class="fa-md text-white"><%= post.likes.count %></span>
                        </div>
                        <div>
                          <i class="fa fa-comments-o fa-md text-white"></i>
                          <span class="fa-md text-white"><%= post.comments.count %></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% elsif @user.posts.any? %>
              <div class="col-md-12 text-center text-decoration-none text-secondary">
                <h3 class="mt-5 font-weight-light " >
                  <i>No more posts</i>
                  <br>
                  <i class="fa fa-camera-retro fa-6"></i>
                </h3>
              </div>
            <% end %>
          </div>
          <%= will_paginate(@posts, list_classes: %w(pagination justify-content-center)) %>
        </div>
      </div>
    </div>
  </div>
</div>
