<div class="comment d-flex">
  <%= link_to user_path(comment.user), class: "avatar" do %>
    <%= image_tag( comment.user.image.present? ?  comment.user.image.to_s : 'default_avatar.png' ) %>
  <% end %>
  <div class="mt-2 ml-3">
    <span class="fw-600"> <%= link_to comment.user.name, user_path(comment.user), class: "text-decoration-none text-dark fw-600" %></span>
    <span class="font-weight-normal">
      <%= comment.content %>
    </span>
    <p class="text-secondary"><%= time_ago_in_words comment.created_at %> ago</p>
  </div>
</div>
