<div class="container p-5">
  <div class="row">
    <div class="col-md-12 post-detail-wrapper bg-white">
      <div class="row">
        <div class="col-sm-12 col-md-8 p-0">
          <div class="post-thumbnail">
            <img src="<%= @post.image %>" alt="">
          </div>
        </div>
        <div id="post-<%= @post.id %>" class="col-sm-12 col-md-4 p-0">
          <div class="post-header gray-border-bottom d-flex flex-row align-items-center p-4">
            <%= link_to user_path(@post.user), class: "avatar" do %>
              <%= image_tag( @post.user.image.present? ?  @post.user.image.to_s : 'default_avatar.png' ) %>
            <% end %>
            <span class="fw-600 ml-3"> <%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none text-dark fw-600" %></span>
            <div class="more-actions ml-auto">
              <i class="fa fa-ellipsis-h fa-large"></i>
            </div>
          </div>
          <div class="post-detail-comments-wrapper pl-4 pr-5 pt-3 ">
            <div class="post-detail-comments pb-2">
              <div class="comment d-flex">
                <%= link_to user_path(@post.user), class: "avatar" do %>
                  <%= image_tag( @post.user.image.present? ?  @post.user.image.to_s : 'default_avatar.png' ) %>
                <% end %>
                <div class="mt-2 ml-3">
                  <span class="fw-600"> <%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none text-dark fw-600" %></span>
                  <span class="font-weight-normal">
                    <%= @post.content %>
                  </span>
                  <p class="text-secondary"><%= time_ago_in_words @post.created_at %> ago</p>
                </div>
              </div>
              <%= render partial: "post_detail_comment", collection: @post.comments.reverse, as: :comment %>

            </div>
          </div>
          <div class="post-action gray-border-top d-flex flex-row align-items-center pl-3 pt-2">
            <%= link_to like_unlike_post_path(@post),
              method: :post,
              remote: true ,
              class: "like-btn text-decoration-none" do
            %>
              <% if is_like_this_posts?(@post.likes) %>
                <i class="fa fa-heart fa-large text-danger"></i>
              <% else %>
                <i class="fa fa-heart-o fa-large text-dark"></i>
              <% end %>
            <% end %>
            <a class="text-decoration-none" disabled>
              <i class="ml-3 fa fa-comments fa-large text-dark"></i>
            </a>
            <%= link_to @post, class: "share-btn text-decoration-none", data: { href: "https://secret-journey-76001.herokuapp.com/posts/#{@post.id}", id: @post.id } do %>
              <i class="ml-3 fa fa-share fa-large text-dark"></i>
            <% end %>
          </div>
          <span class="post-likes fw-600 pl-3">
            <%= @post.likes_counter + @post.social_likes_counter %> likes
          </span>
          <span class="post-shares fw-600 ml-2">
            <%= @post.shares_counter + @post.social_shares_counter %> Shares
          </span>
          <div class="text-secondary pl-3 pb-2">
            <small>
              <%= time_ago_in_words @post.created_at %> ago
            </small>
          </div>
          <div class="comment-input gray-border-top p-3 ">
            <%= form_for(:comment, url: post_comments_path(@post), method: :post, remote: true, html: { class: "d-flex justify-content-center m-0 p-0"} ) do |f| %>
              <%= f.hidden_field :from_page, value: :show_controller %>
              <%= hidden_field_tag :index_controller %>
              <%= f.text_area :content, placeholder: "comment in here", class: "pr-2" %>
              <%= f.submit "Send", class: "ml-auto comment-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
